---

# handlers file for shibboleth_sp
- name: restart shibd
  sudo: yes
  service: name=shibd
           state=restarted

- name: restart httpd
  sudo: yes
  when: ansible_os_family == 'Debian'
  service: name=apache2
           state=restarted

- name: restart httpd
  sudo: yes
  when: ansible_os_family == 'RedHat'
  service: name=httpd
           state=restarted
